
<div class="container d-flex  flex-column p-2 bd-highlight">

  <div class="container">
    <h1>Your Answer</h1>
  </div>

  <div class="p-3 mb-2 bg-secondary text-white">
    <%= @question %>
  </div>

  <div class="p-3 mb-2 bg-dark text-end text-white">
    <%= @answer %>
  </div>

</div>
